*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}
.logo_main{
    margin-left: 50px;
}
.logo{
    height: 50px;
}

.nav_bar{
    margin-right: 200px;
}
.nav_bar>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_bar>ul>li{
    list-style-type: none;
    margin-right: 120px;
    font-family: system-ui,'Segoe UI';
    font-size:18px;
}

.Restuarent_block{
    display:flex;
    flex-wrap: wrap;
    padding: 100px;
    margin-left: 0;
    
}
.res_card{
    width: 200px;
    margin: 20px;
}
.res_card:hover{
    transition: transform 0.3s ease;
}
.res_image{
    width:100%;
    height:150px;
    border-radius: 20px;
    image-orientation: initial;
    object-fit: cover;
}
.res_desc>p{
    font-family: system-ui,'Segoe UI';
    font-size: 18px;
}
.body{
    padding-top: 200px;

}